body {
    background-color: black
}


/* Starts header and the container of rrss logos and link, and title */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8em;
}

.logo-rrss {
    height: 2em;
}

#telegram,
#instagram {
    display: flex;
    background-color: black;
    height: 100%;
    align-items: center;
}

#instagram {
    padding-right: 1em;
}

#telegram {
    padding-left: 0.5em;
}

.title {
    color: rgb(125, 5, 125);;
    background-color: black;
    font-family: "pixel";
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-link {
    text-decoration: none;
    text-transform: uppercase;
    color:rgb(235, 5, 235);
}

/* Ends header */

.container-titulo {
    background-color: rgb(235, 5, 235);
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
}

.titulo-relato {
    margin: 0 auto;
    color: black;
    background-color: rgb(235, 5, 235);
    width: 100%;
    flex-grow: 1;
    display: block;
    /* font-family: monospace; */
    white-space: nowrap;
    width: 21ch;

    animation: typing 2s steps(21) forwards,
    blink 1s steps(1) 2s forwards;
    overflow: hidden;
}

@keyframes typing {
    from { width: 0 }
    to { width: 21ch; }
}

@keyframes blink{
    0% { border-color: transparent; }
    100% { border-color:rgb(125, 5, 125); }
}

#contrast-button {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    height: 2em;
    background-color: white;
    font-weight: bolder;
    border-radius: 20%;
    margin-left: 4em;
    padding-bottom: 2em;
}

/* Starts Content */

.content {
    color: rgb(125, 5, 125);
    padding: 0 1.5em 0 2.5em;
    font-family: 'Courier New', Courier, monospace;
}

.c2 {
    -webkit-text-decoration-skip: none;
    font-weight: bold;
    text-decoration: underline;
    vertical-align: baseline;
    text-decoration-skip-ink: none;
    font-size: 15pt;
    font-style: normal
}

.c8 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-style: normal;
}

.c1 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-style: bold;
}

.c0 {
    padding-top: 12pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: justify;
}

.c4 {
    font-weight: 900;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal;
    font-weight: bold;
}

.c7 {
    max-width: 451.4pt;
    padding: 72pt 72pt 72pt 72pt
}

.c6 {
    font-weight: 700
}

.c5 {
    height: 11pt
}

.c3 {
    font-size: 15pt
}

li {
    font-size: 11pt;
}

p {
    margin: 0;
    font-size: 13pt;
}

/* Ends content */
@font-face {
    font-family: "pixel";
    src: url(fonts/FFFFORWA.TTF) format("truetype");
}

/* Starts footer */

.footer {
    margin: 0 auto;
    padding-top: 2em;
    background-color: rgb(235, 5, 235);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#author {
    color: black;
    font-family: "pixel";
    font-size: medium;
    padding-left: 3em;
}

.top {
    background-color: black;
    color:rgb(235, 5, 235);
    border-radius: 5em;
    margin-bottom: 4em;
    width: 10em;
    height: 4em;
    font-family: "pixel";
    text-transform: uppercase;
    margin-right: 6em;
    padding-left: 1.8em;
    border-color: rgb(235, 5, 235);
    text-decoration: none;
}

.second-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-rrss {
    height: 5em;
    background-color: rgb(235, 5, 235);
}

#instagram-footer {
    margin-left: 10em;
}

#telegram-footer {
    margin-right: 15em;;
}