body {
    background-color: black
}


/* Starts header and the container of rrss logos and link, and title */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8em;
}

.logo-rrss {
    height: 2em;
}

#telegram,
#instagram {
    display: flex;
    background-color: black;
    height: 100%;
    align-items: center;
}

#instagram {
    padding-right: 1em;
}

#telegram {
    padding-left: 0.5em;
}

.title {
    color: purple;
    background-color: black;
    font-family: "pixel";
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ends header */

.titulo-relato {
    color: black;
    background-color: purple;
    width: 100%;
    flex-grow: 1;
}

#contrast-button {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    height: 2em;
    background-color: white;
    font-weight: bolder;
    border-radius: 20%;
    margin-left: 4em;
    padding-bottom: 2em;
}

/* Starts Content */

.content {
    color: purple;
    padding: 0 3em 0 3em;
    font-family: 'Courier New', Courier, monospace;
}

.c2 {
    -webkit-text-decoration-skip: none;
    font-weight: bold;
    text-decoration: underline;
    vertical-align: baseline;
    text-decoration-skip-ink: none;
    font-size: 15pt;
    font-style: normal
}

.c8 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-style: normal
}

.c1 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-style: normal
}

.c0 {
    padding-top: 12pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c4 {
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal;
    font-weight: bold;
}

.c7 {
    max-width: 451.4pt;
    padding: 72pt 72pt 72pt 72pt
}

.c6 {
    font-weight: 700
}

.c5 {
    height: 11pt
}

.c3 {
    font-size: 12pt
}

li {
    font-size: 11pt;
}

p {
    margin: 0;
    font-size: 11pt;
}

/* Ends content */
@font-face {
    font-family: "pixel";
    src: url(fonts/FFFFORWA.TTF) format("truetype");
}

/* Starts footer */

.footer {
    background-color: purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#author {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: bold;
}